


@font-face {
  font-family: Inter;
  src: url("./../../assets/Inter-Regular.ttf");
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: Inter, Helvetica, sans-serif;
  font-size: 14px;
  background-color: var(--background-color);
}

::-webkit-scrollbar{
  width: 7px;
}
::-webkit-scrollbar-track{
  background: transparent;
}
::-webkit-scrollbar-thumb{
  background: #cccccc86;
  border-radius: 20px;
}


body.dark-mode {
  background-color: #141414;
  color: white;
}

body.dark-mode .general-app-setting h4{
  color: #dadada;
}
body.dark-mode .general-account-setting h4{
  color: #dadada;
}
body.dark-mode .sidebar{
     background-color: rgb(38, 38, 38);
     color:#dadada
}
body.dark-mode .settings-right{
    background-color: #1e1e1e;
    color:#dadada
}
body.dark-mode .general-app-setting p{
   color: #b3b3a5;
}
body.dark-mode .general-account-setting p{
  color:#b3b3a5;
}
body.dark-mode .settings-left{
  box-shadow: none;
}
body.dark-mode .handleOnOff button:hover{
  background-color: #343434;
}
body.dark-mode #dropdownDefaultButton{
  border: #0d0a0a;
  background-color: #343434;
  color: white;
}
body.dark-mode #dropdown{
  background-color: #161616;
  color:white;
}
body.dark-mode #languages{
  background-color: #3f3f3f;
  color: white;
}
body.dark-mode #languages:hover{
  background-color: #4b4848;
}
body.dark-mode #button-general{
  border: #0d0a0a;
  background-color: #343434;
  color:white;
}
body.dark-mode .setting-page-sidebar{
  background-color: #141414;
  color: white;
}
body.dark-mode .option-link{
  color: white;
}
body.dark-mode .core-plugins-link{
  color: white;
}
body.dark-mode .setting-handleOnOff-btn{
  color: white;
}
body.dark-mode .setting-handleOnOff-btn:hover{
  background-color: #343434;
}

.setting-page{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.settings-page-container{
  overflow: hidden;
  border: 1px solid #9ca3af;
  display: flex;
  opacity: 1;
  width: 83%;
  height: 83%;
  border-radius: 12px;
  --tw-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
  --tw-shadow-colored: 0 25px 50px -12px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.settings-page-container-hidden{
  display: none;
}

.setting-page-sidebar{
  background-color: #fafaf9 ;
  width: 30%;
  color: black;
  border-right: 1px solid #e5e7eb;
  padding: 16px;
  overflow-y: scroll;
  height: full;

}
.settings-page-right{
  height: full;
  overflow-y: auto;
  padding: 0px 36px;
  width: 83%;
  position: relative;
}
.setting-handleOnOff{
  position: absolute;
  top: 8px;
  right: 8px;
}
.setting-handleOnOff-btn{
  width: 28px;
  height: 28px;
  border-radius: 6px ;
  border: none;
  outline: none;
  background:none;
  transition: background-color 0.3s ease;
}
.setting-handleOnOff-btn:hover{
background-color: #e5e5e5 ;
}